/* Variables */

:root{
    --background-color: #F6B3BF;
}
:root{
    --encabezados-color: #B3BFF6;
}


html{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5;
}


body{
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    
    min-width: 400px;
}

header {

    display: flex;
    background-color: aquamarine;
    height: 22px;
    justify-content: space-between;

    
}

.logo-header img{
    height: 100%;
    
    align-self: start;

}
.main-nav{
    list-style: none;
    padding: 0;
    margin:0 ;
    display: flex;
    
}



.main-nav__item{
    
    background-color: azure;
    padding: 0.1rem 0.4rem;
    border-radius: 0.5rem 0;
    margin: 0 2px;
}

.main-nav__item:hover{
    background-color:transparent;
}
.main-nav__item:active{
    color:white;
    border-color:black ;
}





footer{
    display: flex;

    background-color: blue;

}

nav{
    padding: 0;
    margin: 0;
    width: 100%;

}




.footer--ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    
}

.footer--lis{
    margin: 0.2;
    padding: 0.6rem;

}

.footer--lis:hover{
    background-color: aquamarine;
    color: deeppink;
    
}


















#head--proyect{
    margin: 0 auto;
    background-color: var(--encabezados-color);
    border-radius: 2rem;
    max-width: 50%;
    text-align: center;
}
.el-titulo{
    margin: 0 auto;
    padding: 0.5rem;
    color: deeppink; 
    margin: 1rem;
    text-align: center;


}

.el-titulo p{
    font-size: 1.5rem;

}
.blog{
    margin: 1rem;
    background-color:var(--encabezados-color);
    border: dotted 0.05rem;
    border-radius: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;   
}
.blog p{
    color: red;
}