html{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5;

}

body{
    background-color: rgb(210, 226, 240);
    height: 100%;
    width: 100%;
    color: deeppink; 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;

}
.el-titulo{
    margin: 0 auto;
    
    background-color: black;

}

.el-titulo p{
    font-size: 1rem;
    margin: 0 auto;
}
.blog{
    background-color: rgb(38, 32, 32);
    border: dotted 0.2rem;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

.blog p{
    color: #333;
}